.contactCard {
  display: flex;
  flex-direction: row;
  border: 2px solid;
  padding: 0px 8px;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.contactList {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contactItem {
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
}
.btn {
  width: 80px;
  background-color: lightgrey;
  color: black;
  border: 2px solid lightslategray;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover,
.btn:focus {
  background-color: #9999;
  border: 2px solid gray;
  color: red;
}

/* delete modal style*/
.box {
  width: 320px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  padding: 2vh 2vh;

  /* display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%; */
  /* margin-left: 50%;
  margin-top: 50%; */
  /* margin-left: -100px;
  margin-top: -75px; */

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}
span {
  text-transform: capitalize;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  justify-items: baseline;
  gap: 12px;
  margin: 0;
}
/* contacteditor */
.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  margin-bottom: 12px;
  background-color: white;
  padding: 16px;
  border-radius: 4px;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -75px;
}

.input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font: inherit;
  line-height: 16px;
  letter-spacing: 0.01em;
  resize: none;
}

.button {
  width: 100px;
  margin-left: auto;
  margin-right: auto;

  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #3f51b5;
  color: #fff;
}

.button:hover,
.button:focus {
  background-color: #303f9f;
}

.button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
